name: GCP-VM-CICD

on:
  push: 
    branches: [deploy-junil]
  pull_request: 
    branches: [deploy-junil]

jobs:
  set-env-junil:
    if: github.ref == 'refs/heads/deploy-junil'
    runs-on: ubuntu-22.04
    steps:  
      - name: test
        if: github.ref == 'refs/heads/deploy-junil'
        run: |
          if [ ${{github.ref}} == 'refs/heads/deploy-junil2' ]; then
            echo "TEST=abcd" >> $GITHUB_ENV
          elif [ ${{github.ref}} == 'refs/heads/deploy-junil' ]; then
            echo "TEST=abcdef" >> $GITHUB_ENV
          fi
      - name: test
        run: echo ${{env.TEST}}
  build:
    needs: set-env-junil
    runs-on: ubuntu-22.04
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.2
        with:
          ref: ${{github.ref}}
      - name: test
        run: echo ${{env.TEST}}
        







        
